<!DOCTYPE html>
<html style="height:100%">
<head>
  <title>Midas Loop - Open</title>
  <%= require('../partials/head.html?raw') %>
</head>
<body class="d-flex flex-column h-100">
  <%= require('../partials/nav.html?raw') %>

  <main class="flex-grow-1">
    <h1>Choose documents</h1>
    <div id="search">
      <table id="tbl-filters"><tr><td>
    <h3>Genres</h3>
    <div>
      <select id="sel-genre" class="custom-select sel-genre" multiple>
        <option value="academic" selected>academic</option>
        <option value="bio">bio</option>
        <option value="fiction">fiction</option>
        <option value="interview">interview</option>
        <option value="news">news</option>
        <option value="reddit">reddit</option>
        <option value="voyage">voyage</option>
        <option value="whow">whow</option>
      </select>
    </div>
    </td>
    <td>
    <h3>Layers</h3>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="lyr-radio" id="lyr-sent" checked>
      <label class="form-check-label" for="lyr-sent">
        Sentence splitting
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="lyr-radio" id="lyr-pos">
      <label class="form-check-label" for="lyr-pos">
        POS tagging
      </label>
    </div>
    </td>
    <td>
    <h3>Quality</h3>
    <select id="sel-quality" class="custom-select">
      <option value="random" selected>random</option>
      <option value="best">best</option>
      <option value="worst">worst</option>
    </select>
  </td></tr></table>
    <h2>Matching documents</h2>

    <table width="100%" id="grid" runat="server" class="scroll">
      <tr>
          <td></td>
      </tr>
      <tr>
          <td>
              <div id="divGridData" style="text-align:center; display: none;">
                  <table id="pnlGridData">
                  </table>
                  <div id="pager">
                  </div>
              </div>
              <div id="JQProviderCredentials_msgNoRecord" class="Emptry_Row_Gridview" style="display: none;">
                      No Record Found
                  </div>
          </td>
      </tr>
  </table><div id="pager"></div>
  <button id="open_all" onclick="open_selected();">Open selected</button>

</div>

    <div style="text-align: center">
      <!--<img class="img-src-uses-require" src="<%= require('../img/unicorn.jpg') %>" width="200">-->

      <!-- uses a specific "template" resourceQuery (webpack config) which will load a file like a esModule by default, hence ".default" -->
      <%= require('../partials/images.html?template').default %>
    </div>
  </main>

  <%= require('../partials/footer.html?raw') %>
</body>
</html>
