<!DOCTYPE html>
<html style="height:100%">
<head>
  <title>About</title>
  <%= require('../partials/head.html?raw') %>
</head>
<body class="d-flex flex-column h-100">
  <%= require('../partials/nav.html?raw') %>

  <main class="flex-grow-1">
    <h1 class="page-title">
      <i class="fas fa-user-secret"></i>
      ABOUT
    </h1>

    <div style="text-align: center">
      <img class="img-src-uses-require" src="<%= require('../img/unicorn.jpg') %>" width="200">

      <!-- uses a specific "template" resourceQuery (webpack config) which will load a file like a esModule by default, hence ".default" -->
      <%= require('../partials/images.html?template').default %>
    </div>
  </main>

  <%= require('../partials/footer.html?raw') %>
</body>
</html>
