<!DOCTYPE html>
<html style="height:100%">

<head>
  <title>Midas Loop</title>
  <%= require('../partials/head.html?raw') %>
</head>

<body class="d-flex flex-column h-100">
  <%= require('../partials/nav.html?raw') %>
  <div id="doc-ribbon" class="ribbon">
    <div>
      <div class="btn btn-prev" onclick="window.cycle_docs(-1);"><i class="fa fa-caret-square-left"> </i></div>
      <div class="btn btn-next" onclick="window.cycle_docs(1);"><i class="fa fa-caret-square-right"> </i></div>
    </div>
    <div><span id="doc_count">Document: </span> <span id="selected_docname">(no document selected)</span></div>
  </div>

  <main class="flex-grow-1">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <button class="nav-link active" onclick="window.selected_tab='home';" id="pills-home-tab" data-bs-toggle="pill"
          data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
          aria-selected="true">Home</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" onclick="window.open_segment();" id="pills-segmentation-tab" data-bs-toggle="pill"
          data-bs-target="#pills-segmentation" type="button" role="tab" aria-controls="pills-segmentation"
          aria-selected="false">Segmentation</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Syntax</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Entities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Discourse</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" id="tab-content">
      <div class="tab-pane active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h1 class="page-title">
          <i class="fas fa-user-secret"></i>
          Welcome to Midas Loop
        </h1>
      </div>
      <div class="tab-pane fade" id="pills-segmentation" role="tabpanel" aria-labelledby="pills-segmentation-tab">
        <div id="outputDialog"></div>
        <div id="inputDialog"></div>

        <div id="main" class="boarder">
          <div id="canvas">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="syntax" role="tabpanel" aria-labelledby="messages-tab">...</div>
      <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
    </div>


    <div style="text-align: center">
      <!--<img class="img-src-uses-require" src="<%= require('../img/unicorn.jpg') %>" width="200">-->

      <!-- uses a specific "template" resourceQuery (webpack config) which will load a file like a esModule by default, hence ".default" -->
      <%= require('../partials/images.html?template').default %>
    </div>
  </main>

  <%= require('../partials/footer.html?raw') %>
</body>

</html>